<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(
          titulo='Inicio',
          linksAdicionales=~{:: #links-de-navegar},
          scriptsAdicionales=~{:: #scripts-de-navegar},
          contenido=~{:: #contenido-de-navegar}
      )}">
<th:block id="links-de-navegar">
    <link rel="stylesheet" th:href="@{/css/pages-css/button.css}">
    <link rel="stylesheet" th:href="@{/css/pages-css/navegarColecciones.css}">
</th:block>

    <div id="contenido-de-navegar">

        <div class="collection-card">

            <div class="collection-header">SUCESOS</div>

            <div class="collections-list">

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Incendios Forestales</h3>
                        <p>Cantidad de hechos: 20</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Incendios, Argentina</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos Armados</h3>
                        <p>Cantidad de hechos: 10</p>
                        <p>Última de actualización: 31.09</p>
                        <p>Criterios: Robo, AMBA, Armas</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/robo1.png" alt="Robo armado" class="brand-logo">
                    </div>
                </a>

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Incendios Vehículos</h3>
                        <p>Cantidad de hechos: 35</p>
                        <p>Última de actualización: 29.08</p>
                        <p>Criterios: Incendios, Argentina, Autos</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio2.png" alt="Incendio Vehiculo" class="brand-logo">
                    </div>
                </a>

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/robo2.png" alt="robo local" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>


            </div> </div> </div>

<th:block id="scripts-de-navegar">
    <script th:src="@{/home.js}" defer></script>
</th:block>

</html>