<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaMapa - Colecciones</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/pages-css/navegarColecciones.css">
    <link rel="stylesheet" href="../css/pages-css/navbar.css">
    <link rel="stylesheet" href="../css/pages-css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<!-- NAVBAR -->
<header class="site-header" id="top">
    <div class="container nav">
        <a class="brand" href="#top">
            <img src="../img/logoNAVBAR.png" alt="Logo MetaMapa" class="brand-logo">
        </a>

        <nav class="menu">
            <a href="#inicio">Inicio</a>
            <a href="#reportar">Reportar suceso</a>
            <a href="#mapa">Ver mapa</a>
            <a href="#navegar"  style="color: #ff8c42">Navegar sucesos</a>
            <a href="#perfil" class="avatar" aria-label="Perfil">
                <i class="fa-regular fa-user"></i>
            </a>
        </nav>

        <button class="burger" aria-label="Abrir menú">
            <span></span><span></span><span></span>
        </button>
    </div>
</header>


<main>

    <div class="container report-container">

        <div class="collection-card">

            <div class="collection-header">SUCESOS</div>

            <div class="collections-list">

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Incendios Forestales</h3>
                        <p>Cantidad de hechos: 20</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Incendios, Argentina</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos Armados</h3>
                        <p>Cantidad de hechos: 10</p>
                        <p>Última de actualización: 31.09</p>
                        <p>Criterios: Robo, AMBA, Armas</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/robo1.png" alt="Robo armado" class="brand-logo">
                    </div>
                </a>

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Incendios Vehículos</h3>
                        <p>Cantidad de hechos: 35</p>
                        <p>Última de actualización: 29.08</p>
                        <p>Criterios: Incendios, Argentina, Autos</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio2.png" alt="Incendio Vehiculo" class="brand-logo">
                    </div>
                </a>

                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/robo2.png" alt="robo local" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>
                <a href="#" class="collection-item">
                    <div class="collection-text">
                        <h3>Robos a Locales</h3>
                        <p>Cantidad de hechos: 30</p>
                        <p>Última de actualización: Hoy</p>
                        <p>Criterios: Robos, CABA, Comercios</p>
                    </div>
                    <div class="collection-image">
                        <img src="../../static/img/incendio1.jpg" alt="Incendio Forestal" class="brand-logo">
                    </div>
                </a>


            </div> </div> </div>
</main>

<footer class="site-footer">
    <div class="container footer-grid">
        <a href="mailto:metamapa@gmail.com"><i class="fa-solid fa-envelope"></i> metamapa@gmail.com</a>
        <a href="#mapa"><i class="fa-solid fa-map-location-dot"></i> /ver-mapa</a>
        <a href="https://instagram.com" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i> @metamapa</a>
    </div>
</footer>

<script src="script.js" defer></script>
</body>
</html>