<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header class="site-header" id="top" th:fragment="navbar">
    <div class="container nav">
        <nav class="menu">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/reportar}">Reportar suceso</a>
            <a th:href="@{/mapa}">Ver mapa</a>
            <a th:href="@{/colecciones}">Navegar sucesos</a>
            <a th:if="${esAdmin}" th:href="@{/admin/colecciones}">Panel de Control</a>
            <a th:if="${#authorization.expression('isAuthenticated()')}"
               th:href="@{/perfil}"
               class="avatar"
               aria-label="Perfil">
                <i class="fa-regular fa-user"></i>
            </a>

            <a th:if="${#authorization.expression('!isAuthenticated()')}"
               th:href="@{/oauth2/authorization/google}"
               class="login-link-container"
               aria-label="Iniciar Sesión">

                <div class="avatar">
                    <i class="fa-regular fa-user"></i>
                </div>

                <span class="login-text">Iniciar Sesión</span>
            </a>        </nav>

        <a class="brand" th:href="@{/}">
            <img class="brand-logo" th:src="@{/img/logoNAVBAR.png}" alt="Logo MetaMapa">
        </a>

        <button class="burger" aria-label="Abrir menú"><span></span><span></span><span></span></button>
    </div>
</header>

<footer class="site-footer" th:fragment="footer">
    <div class="container footer-grid">
        <a href="mailto:metamapa@gmail.com"><i class="fa-solid fa-envelope"></i> metamapa@gmail.com</a>
        <a th:href="@{/mapa}"><i class="fa-solid fa-map-location-dot"></i> Mapa</a>
        <a href="https://instagram.com" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i> @metamapa</a>
    </div>
</footer>

</body>
</html>
