<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Estilos (misma carpeta) -->
    <link rel="stylesheet" href="../css/pages-css/navbar.css">
</head>

<header class="site-header" id="top">
    <div class="container nav">


        <nav th:fragment="navbar">
        <a class="brand" href="#top">
            <img src="../img/logoNAVBAR.png" alt="Logo MetaMapa" class="brand-logo">
        </a>
                th:fragment="navbar" class="menu">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/reportar}">Reportar suceso</a>
            <a href="#mapa">Ver mapa</a>
            <a th:href="@{/colecciones}">Navegar sucesos</a>
            <a href="#perfil" class="avatar" aria-label="Perfil">
                <i class="fa-regular fa-user"></i>
            </a>
        </nav>

        <button class="burger" aria-label="Abrir menú">
            <span></span><span></span><span></span>
        </button>
    </div>
</header>